html, body {
    background: linear-gradient(to bottom right, #33ccff 0%, #ffffff 100%);
    background-repeat:no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

a, u {
    color: #000000 !important;
    text-decoration: none;
}

.head-2 {
    font-size: 1.5vw;
}

.head-1 {
    font-size: 2.5vw;
}

.profile {
    max-height: 243px;
    width: auto;
    height: auto;
}

.icons {
    max-height: 60px;
    width: auto;
    height: auto;
}

.news {
    width:572px;
    height:268px;
}

.menu {
    background: rgba(135, 120, 167, 0.3);
}

.about-img {
    max-width: 332px;
    max-height: 214px;
    width: auto;
    height: auto;
}

.sidebar {
    background: linear-gradient(to bottom, #9966ff 0%, #ffffff 100%);
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.mainbar {
    width:80%;
    float:right;
    font-size:30;
}

.mainbar-home {
    width:100%;
}

.mainbar-content {
    width:100%; 
}

.footer {
    width:100%;
    bottom:0;
    position:r
}

.nav-button {
    max-height:70px;
    width: auto;
    height: auto;
}

.img {
    max-width: 1200px;
    max-height: 500px;
    width: auto;
    height: auto; 
}