 <html>
	<title></title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nadhif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myTextStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myLayoutStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myImageStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/myButtonStyle.css' %}">
	</head>
    <body>
        <div id="mySidenav" class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="mainbar">
            <div class="mainbar-content">
            <span onclick="openNav()"><img class="nav-button" src="{% static 'bar.jpg'%}"></span>
                <p class="head-1">About Me</p>
                <p class="head-2">Full time college student in university of Indonesia.<br>
                    Currently taking Computer Science.<br>
                    My main interest lies in game and software development.<br>
                     I also translate webcomics.</p>
                <img class="about-img" src="{% static 'about-img.jpg'%}">
                <p class="head-2">I am a passionate and crafty,<br>
                    I operate well under pressure and I can work well with any team. <br> 
                    I dream to one day work on a magnum opus that <br>
                    is enjoyed and benefit many.</p>
            </div>
        </div>
    </body>     
</html>
